In [160]:
import pandas as pd
import numpy as np

In [161]:
csv_path1='crime.csv'
csv_path2='Marijuana_Sales_Revenue_in_Colorado.csv'
denver_crime_df=pd.read_csv(csv_path1)
sales_df=pd.read_csv(csv_path2)

In [221]:
crime_df=pd.DataFrame({
                       'Offense Type':denver_crime_df['OFFENSE_TYPE_ID'],
                       'Offense Category':denver_crime_df['OFFENSE_CATEGORY_ID'],
                       'Occurrence Date':denver_crime_df['FIRST_OCCURRENCE_DATE'],
                       'Crime':denver_crime_df['IS_CRIME']
                      })
new = crime_df['Occurrence Date'].str.split(" ", n = -1, expand = True)
new = new[0].str.split("/",expand=True)
crime_df['Month']=new[0]
crime_df['Year']=new[2]
crime_df=crime_df.drop(['Occurrence Date'],axis=1)
crime_df=crime_df.drop(['Crime'],axis=1)

crime_df=crime_df.loc[((crime_df['Offense Category']=='drug-alcohol')|(crime_df['Offense Category']=='murder')|
                      (crime_df['Offense Category']=='public-disorder')|(crime_df['Offense Category']=='aggravated-assault')|
                        (crime_df['Offense Category']=='traffic-accident')&(crime_df['Offense Type']=='traffic-accident-dui-duid'))]
crime_df=crime_df.loc[((crime_df['Year']=='2013')|(crime_df['Year']=='2014')|
                       (crime_df['Year']=='2015')|(crime_df['Year']=='2016'))]

dui=crime_df.loc[crime_df['Offense Category']=='traffic-accident']
dui=dui.drop(['Offense Category'],axis=1)
dui=dui.reset_index()
dui=dui.drop(['index'],axis=1)
dui=dui.groupby(['Year','Month']).count()
dui['Total']=dui['Offense Type']
dui=dui.drop(['Offense Type'],axis=1)


disorder=crime_df.loc[crime_df['Offense Category']=='public-disorder']
disorder=disorder.groupby(['Year','Month']).count()
disorder['Total']=disorder['Offense Type']
disorder=disorder.drop(['Offense Type'],axis=1)
disorder=disorder.drop(['Offense Category'],axis=1)


assault=crime_df.loc[crime_df['Offense Category']=='aggravated-assault']
assault=assault.groupby(['Year','Month']).count()
assault['Total']=assault['Offense Type']
assault=assault.drop(['Offense Type'],axis=1)
assault=assault.drop(['Offense Category'],axis=1)

drug=crime_df.loc[crime_df['Offense Category']=='drug-alcohol']




murder=crime_df.loc[crime_df['Offense Category']=='murder']
murder=murder.groupby(['Year','Month']).count()
murder['Total']=murder['Offense Type']
murder=murder.drop(['Offense Type'],axis=1)
murder=murder.drop(['Offense Category'],axis=1)
murder.head()

drug['Offense Type'].value_counts()

liquor-possession                6914
drug-poss-paraphernalia          3810
drug-marijuana-possess           2423
drug-methampetamine-possess      2414
drug-cocaine-possess             2082
drug-heroin-possess              1561
drug-cocaine-sell                 941
drug-heroin-sell                  570
drug-pcs-other-drug               563
drug-methampetamine-sell          451
drug-marijuana-sell               249
liquor-sell                       174
drug-hallucinogen-possess          99
drug-fraud-to-obtain               99
drug-opium-or-deriv-possess        96
drug-marijuana-cultivation         87
drug-synth-narcotic-possess        70
drug-synth-narcotic-sell           49
drug-hallucinogen-sell             40
drug-opium-or-deriv-sell           35
drug-make-sell-other-drug          33
drug-barbiturate-possess           32
drug-methamphetamine-mfr           10
drug-barbiturate-sell              10
liquor-other-viol                   8
liquor-misrepresent-age-minor       6
liquor-manufacturing                2
drug-barbiturate-mfr                2
drug-hallucinogen-mfr               1
Name: Offense Type, dtype: int64

In [184]:
sales_df['Year'].value_counts()

2015    768
2014    768
2017    768
2016    768
2019    713
2018    704
2020    455
Name: Year, dtype: int64

In [156]:
traffic_df=denver_crime_df.loc[denver_crime_df['Traffic']==1]
dui=traffic_df.loc[traffic_df['Offense Type']=='traffic-accident-dui-duid']

dui=pd.DataFrame({'Date':dui['Occurrence Date']})
#dui['2013']=dui.loc[['Occurrence Date']]
#dui['Date'] = pd.to_datetime(dui['Date'],format='%d/%M/%Y, %H:%m')
#dui.reset_index()
dui['day'] = dui['Date'].str.split('/')
#dui['Date']=dui['Date'].astype(str)
#dui.dtypes
dui
dui=dui.reset_index()
year=[] 
for x in range(0,len(dui['day'])):  
    year.append(dui['day'][x][2])
    x+=1
    
dui

    #x=0
#for x in np.arange(0,len(dui),1):    
#dui
   # x+=1
#dui

       index             Date                  day
0          0   6/29/2014 1:20   [6, 29, 2014 1:20]
1          6   6/29/2014 2:20   [6, 29, 2014 2:20]
2        100  11/16/2013 4:59  [11, 16, 2013 4:59]
3        284  4/20/2014 22:26  [4, 20, 2014 22:26]
4        436  1/14/2012 21:45  [1, 14, 2012 21:45]
...      ...              ...                  ...
4121  460178  9/21/2017 23:50  [9, 21, 2017 23:50]
4122  460365  8/25/2017 20:55  [8, 25, 2017 20:55]
4123  460421   9/24/2017 0:41   [9, 24, 2017 0:41]
4124  460423  9/22/2017 14:05  [9, 22, 2017 14:05]
4125  460879   9/13/2017 2:56   [9, 13, 2017 2:56]

[4126 rows x 3 columns]

In [157]:
dui['year']=dui[:,['year'],0:3]
#dui.head()
#len(dui['day'])

TypeError: '(slice(None, None, None), ['year'], slice(0, 3, None))' is an invalid key

In [56]:
crime_df=denver_crime_df.loc[denver_crime_df['Crime']==1]
crime_df=crime_df.sort_values(by=['Occurrence Date'])
crime_df['Offense Type'].value_counts()

theft-items-from-vehicle     27468
traf-other                   25793
theft-of-motor-vehicle       23004
theft-other                  19216
criminal-mischief-mtr-veh    15877
                             ...
theft-from-yards                 1
explosives-posses                1
homicide-negligent               1
riot                             1
homicide-police-by-gun           1
Name: Offense Type, Length: 193, dtype: int64

335851