In [51]:
import pandas as pd
import numpy as np

In [52]:
csv_path1='crime.csv'
csv_path2='Marijuana_Sales_Revenue_in_Colorado.csv'
denver_crime_df=pd.read_csv(csv_path1)
sales_df=pd.read_csv(csv_path2)

In [53]:
denver_crime_df=pd.DataFrame({
                       'Offense Type':denver_crime_df['OFFENSE_TYPE_ID'],
                       'Offense Category':denver_crime_df['OFFENSE_CATEGORY_ID'],
                       'Occurrence Date':denver_crime_df['FIRST_OCCURRENCE_DATE'],
                       'Crime':denver_crime_df['IS_CRIME'],
                       'Traffic':denver_crime_df['IS_TRAFFIC']
                      })
denver_crime_df.head()

,Offense Type,Offense Category,Occurrence Date,Crime,Traffic
0,traffic-accident-dui-duid,traffic-accident,6/29/2014 1:20,0,1
1,vehicular-eluding-no-chase,all-other-crimes,6/29/2014 1:51,1,0
2,disturbing-the-peace,public-disorder,6/29/2014 2:00,1,0
3,curfew,public-disorder,6/29/2014 2:04,1,0
4,aggravated-assault,aggravated-assault,6/29/2014 2:00,1,0

In [54]:
sales_df.head()

,Month,Year,County,Med_Sales,Rec_Sales,Med_Blank_Code,Rec_Blank_Code,ID
0,12,2019,Yuma,NaN,NaN,NL,NL,122019Yuma
1,12,2019,Weld,"314,840","2,448,689",NaN,NaN,122019Weld
2,12,2019,Washington,NaN,NaN,NL,NL,122019Washington
3,12,2019,Teller,NaN,NaN,NL,NL,122019Teller
4,12,2019,Summit,NaN,"2,476,854",NR,NaN,122019Summit

In [107]:
traffic_df=denver_crime_df.loc[denver_crime_df['Traffic']==1]
dui=traffic_df.loc[traffic_df['Offense Type']=='traffic-accident-dui-duid']

dui=pd.DataFrame({'Date':dui['Occurrence Date']})
#dui['2013']=dui.loc[['Occurrence Date']]
#dui['Date'] = pd.to_datetime(dui['Date'],format='%d/%M/%Y, %H:%m')
#dui.reset_index()
dui['day'] = dui['Date'].str.split('/')
#dui['Date']=dui['Date'].astype(str)
#dui.dtypes
dui
dui=dui.reset_index()
    
for x in range(0,len(dui['day'])):  
    dui['year']=dui['day'][x][2]
    x+=1
    #x=0
#for x in np.arange(0,len(dui),1):    
#dui
   # x+=1
#dui

KeyError: 0

In [104]:
dui
#len(dui['day'])

       index             Date                  day       year
0          0   6/29/2014 1:20   [6, 29, 2014 1:20]  2017 2:56
1          6   6/29/2014 2:20   [6, 29, 2014 2:20]  2017 2:56
2        100  11/16/2013 4:59  [11, 16, 2013 4:59]  2017 2:56
3        284  4/20/2014 22:26  [4, 20, 2014 22:26]  2017 2:56
4        436  1/14/2012 21:45  [1, 14, 2012 21:45]  2017 2:56
...      ...              ...                  ...        ...
4121  460178  9/21/2017 23:50  [9, 21, 2017 23:50]  2017 2:56
4122  460365  8/25/2017 20:55  [8, 25, 2017 20:55]  2017 2:56
4123  460421   9/24/2017 0:41   [9, 24, 2017 0:41]  2017 2:56
4124  460423  9/22/2017 14:05  [9, 22, 2017 14:05]  2017 2:56
4125  460879   9/13/2017 2:56   [9, 13, 2017 2:56]  2017 2:56

[4126 rows x 4 columns]

In [56]:
crime_df=denver_crime_df.loc[denver_crime_df['Crime']==1]
crime_df=crime_df.sort_values(by=['Occurrence Date'])
crime_df['Offense Type'].value_counts()

theft-items-from-vehicle     27468
traf-other                   25793
theft-of-motor-vehicle       23004
theft-other                  19216
criminal-mischief-mtr-veh    15877
                             ...
theft-from-yards                 1
explosives-posses                1
homicide-negligent               1
riot                             1
homicide-police-by-gun           1
Name: Offense Type, Length: 193, dtype: int64

335851