In [7]:
import pandas as pd
import numpy as np

In [8]:
csv_path1='crime.csv'
csv_path2='Marijuana_Sales_Revenue_in_Colorado.csv'
denver_crime_df=pd.read_csv(csv_path1)

In [9]:
crime_df=pd.DataFrame({
                       'Offense Type':denver_crime_df['OFFENSE_TYPE_ID'],
                       'Offense Category':denver_crime_df['OFFENSE_CATEGORY_ID'],
                       'Occurrence Date':denver_crime_df['FIRST_OCCURRENCE_DATE'],
                       'Crime':denver_crime_df['IS_CRIME']
                      })
new = crime_df['Occurrence Date'].str.split(" ", n = -1, expand = True)
new = new[0].str.split("/",expand=True)
crime_df['Month']=new[0]
crime_df['Year']=new[2]
crime_df=crime_df.drop(['Occurrence Date'],axis=1)
crime_df=crime_df.drop(['Crime'],axis=1)

crime_df=crime_df.loc[((crime_df['Offense Category']=='drug-alcohol')|(crime_df['Offense Category']=='murder')|
                      (crime_df['Offense Category']=='public-disorder')|(crime_df['Offense Category']=='aggravated-assault')|
                        (crime_df['Offense Category']=='traffic-accident')&(crime_df['Offense Type']=='traffic-accident-dui-duid'))]
crime_df=crime_df.loc[((crime_df['Year']=='2013')|(crime_df['Year']=='2014')|
                       (crime_df['Year']=='2015')|(crime_df['Year']=='2016'))]
crime_df.head()

                Offense Type    Offense Category Month  Year
0  traffic-accident-dui-duid    traffic-accident     6  2014
2       disturbing-the-peace     public-disorder     6  2014
3                     curfew     public-disorder     6  2014
4         aggravated-assault  aggravated-assault     6  2014
6  traffic-accident-dui-duid    traffic-accident     6  2014

In [10]:
dui=crime_df.loc[crime_df['Offense Category']=='traffic-accident']
dui=dui.drop(['Offense Category'],axis=1)
dui=dui.reset_index()
dui=dui.drop(['index'],axis=1)
dui=dui.groupby(['Year','Month']).count()
dui['Total']=dui['Offense Type']
dui=dui.drop(['Offense Type'],axis=1)
dui.head()

            Total
Year Month
2013 1         43
     10        55
     11        62
     12        60
     2         50

In [11]:
disorder=crime_df.loc[crime_df['Offense Category']=='public-disorder']
disorder=disorder.groupby(['Year','Month']).count()
disorder['Total']=disorder['Offense Type']
disorder=disorder.drop(['Offense Type'],axis=1)
disorder=disorder.drop(['Offense Category'],axis=1)
disorder.head()

            Total
Year Month
2013 1        517
     10       773
     11       759
     12       639
     2        423

In [12]:
assault=crime_df.loc[crime_df['Offense Category']=='aggravated-assault']
assault=assault.groupby(['Year','Month']).count()
assault['Total']=assault['Offense Type']
assault=assault.drop(['Offense Type'],axis=1)
assault=assault.drop(['Offense Category'],axis=1)
assault.head()

            Total
Year Month
2013 1        141
     10       133
     11       129
     12       133
     2         80

In [13]:
murder=crime_df.loc[crime_df['Offense Category']=='murder']
murder=murder.groupby(['Year','Month']).count()
murder['Total']=murder['Offense Type']
murder=murder.drop(['Offense Type'],axis=1)
murder=murder.drop(['Offense Category'],axis=1)
murder.head()

            Total
Year Month
2013 1          4
     10         4
     11         3
     12         4
     2          4

In [14]:
drug=crime_df.loc[crime_df['Offense Category']=='drug-alcohol']
drug=drug.replace(['liquor-possession','liquor-sell','liquor-other-viol','liquor-misrepresent-age-minor','liquor-manufacturing'],'Alcohol Offenses')
drug=drug.replace(['drug-marijuana-possess','drug-marijuana-sell','drug-marijuana-cultivation'],'Marijuana Offenses')
drug=drug.replace(['drug-methampetamine-possess','drug-methampetamine-sell','drug-methamphetamine-mfr'],'Methamphetamine Offenses')
drug=drug.replace(['drug-cocaine-possess','drug-cocaine-sell'],'Cocaine Offenses')
drug=drug.replace(['drug-heroin-possess','drug-heroin-sell'],'Heroin Offenses')
drug=drug.replace(['drug-hallucinogen-possess','drug-hallucinogen-sell','drug-hallucinogen-mfr'],'Hallucinogen Offenses')
drug=drug.replace(['drug-barbiturate-possess','drug-barbiturate-sell','drug-barbiturate-mfr'],'Barbiturate Offenses')
drug=drug.replace(['drug-opium-or-deriv-possess','drug-opium-or-deriv-sell'],'Opium/Derivitave Offenses')
drug=drug.replace(['drug-synth-narcotic-possess','drug-synth-narcotic-sell'],'Synthetic Narcotic Offenses')
drug=drug.replace(['drug-pcs-other-drug','drug-make-sell-other-drug'],'Other Drug Offenses')
drug=drug.replace(['drug-poss-paraphernalia'],'Paraphernalia Offenses')
drug=drug.loc[drug['Offense Type']!='drug-fraud-to-obtain']
drug=drug.drop(['Offense Category'],axis=1)
drug=drug.reindex(columns=['Year','Month','Offense Type'])
drug=drug.sort_values(by=['Year','Month','Offense Type'])
total=""
drug['Total']=total
drug=drug.groupby(['Year','Month','Offense Type']).count()
drug.head()

                                  Total
Year Month Offense Type
2013 1     Alcohol Offenses           3
           Barbiturate Offenses       1
           Cocaine Offenses          65
           Hallucinogen Offenses      5
           Heroin Offenses           38

In [129]:
sales_df=pd.read_csv(csv_path2)
sales_df=sales_df.drop(['Med_Blank_Code','Rec_Blank_Code','ID'],axis=1)
sales_df=sales_df.dropna(thresh=4)
sales_df=sales_df.loc[((sales_df['Year']==2013)|(sales_df['Year']==2014)|
                       (sales_df['Year']==2015)|(sales_df['Year']==2016))]
sales_df=sales_df.loc[((sales_df['County']=='Denver')|(sales_df['County']=='Arapahoe')|
                       (sales_df['County']=='Douglas')|(sales_df['County']=='Jefferson')|
                       (sales_df['County']=='Adams')|(sales_df['County']=='Boulder')|
                       (sales_df['County']=='Broomfield'))]

sales_df['Med_Sales']=sales_df['Med_Sales'].convert_dtypes()
sales_df['Med_Sales']=sales_df['Med_Sales'].str.replace(',','')
sales_df['Med_Sales']=sales_df['Med_Sales'].astype('int64')

sales_df['Rec_Sales']=sales_df['Rec_Sales'].convert_dtypes()
sales_df['Rec_Sales']=sales_df['Rec_Sales'].str.replace(',','')
sales_df['Rec_Sales']=sales_df['Rec_Sales'].astype('Int64')
sales_df['Total']=sales_df['Med_Sales']+sales_df['Rec_Sales']
sales_df=sales_df.fillna(value=0)
sales_df['Total']=sales_df['Med_Sales']+sales_df['Rec_Sales']
sales_df=sales_df.drop(['County'],axis=1)
sales_df=sales_df.drop(['Med_Sales'],axis=1)
sales_df=sales_df.drop(['Rec_Sales'],axis=1)
sales_df=sales_df.reindex(columns=['Year','Month','Total'])
sales_df=sales_df.groupby(['Year','Month']).sum()
sales_df.head()

               Total
Year Month
2014 1      31955940
     2      30964904
     3      36789191
     4      37420211
     5      36082183
     6      36015673
     7      39878770
     8      43950922
     9      40945550
     10     41549318
     11     40261062
     12     41731442
2015 1      43852852
     2      40332001
     3      48153061
     4      51696542
     5      51781695
     6      50601681
     7      60524206
     8      61840172
     9      59075579
     10     58405761
     11     52366685
     12     58731403
2016 1      55778036
     2      56647835
     3      63683067
     4      66174921
     5      65142473
     6      66444715
     7      74980010
     8      78309108
     9      79165983
     10     75257109
     11     71182513
     12     73568918